@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Overpass', sans-serif;
    margin-bottom: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Permanent Marker', serif;
  }

  h1 {
    font-size: 2.8rem;
    position: relative;
    margin-right: 10px;
    top: -16px;
  }

  a {
    color: #222;
    text-decoration: underline;
    text-decoration-style: dotted;
  }

  a.no-decoration {
    text-decoration: none;
  }
}
