$tablet: 576px;

.titleHeader {
    display: inline-block;
    position: relative;
    margin-right: 10px;

    @media screen and (min-width: $tablet) {
        top: 16px;
    }
}

.title {
    text-decoration: none !important;
}

.gm {
    color: #D84B39;
}

.dragon {
    position: relative;
    top: 5px;
    left: -50px;
}

.header {
    display: flex;
    justify-content: space-between;
}