$tablet: 576px;

.switch {
    display: inline-block;
    max-width: 22px;
    margin: 0 10px;

    @media screen and (min-width: $tablet) {
        margin-top: 32px;
        max-width: 60px;
    }
}

.bar {
    display: block;
    transform: rotate(90deg);
    margin-bottom: -19px;
    position: relative;
    top: -2px;
    left: -1px;
    pointer-events: none;

    @media screen and (min-width: $tablet) {
        display: inline;
        transform: none;
        margin: 0 10px;
        top: 0;
        left: 0;
    }
}

.link {
    text-decoration: none;
}

.active {
    font-weight: bold;
}
