<header
  class="border-t-8 border-x-8 border-black-top px-8 pt-6 flex justify-between">
  <div>
    <a href="/" passHref>
      <h1 class="inline-block align-top pt-4">
        Carlos<span class="text-red-gm">GM</span>
      </h1>
    </a>
    <div class="hidden sm:inline-block">
      {{ $image := resources.Get "images/dragon-orig.png" }}
      {{ $image := $image.Process "fit 220x80" }}
      <img
        src="{{ $image.Permalink }}"
        alt="A drawing of Carlos holding a sword and a shield inspired on the videogame Zelda" />
    </div>
  </div>
  <!-- LanguageSwitch /-->
</header>
